# Entornos virtuales y caché de Python
.venv/
venv/
__pycache__/
*.pyc

# Variables de entorno (secretos). Se versiona solo .env.example
.env

# Node y Angular
node_modules/
dist/
.angular/

# Sistema y editores
.DS_Store
Thumbs.db
.idea/